.portfolios-list {
  .portfolio {
    padding: .5rem 1rem;

    &:nth-of-type(odd) {
      background: $athens_gray_light;
    }

    .portfolio-cashes-list {
      .portfolio-cashes {
        margin-bottom: 1rem;
      }
    }
  }
}

#portfolio-new-container {
  em {
    display: inline-block;
    font-size: 0.875rem;
    margin-top: .5rem;
  }
}
