#position-new-container {
  .form-field {
    &.hidden-by-default {
      @apply hidden;

      &.selected {
        @apply block;
      }
    }
  }
}

#portfolio-totals {
  @apply flex flex-col;

  h4 {
    @apply text-2xl mt-0 mb-2;

    color: $gray_chateau;
    line-height: 1;

    span {
      @apply font-normal text-xl;

      font-family: "Open Sans", sans-serif;
      color: $black;
      line-height: 1;
    }
  }
}

#positions {
  .positions-table {
    thead {
      tr {
        background: $persian_blue;
        color: $white;

        th {
          @apply text-right pl-10 pr-2 py-2;
        }
      }
    }

    tbody {
      tr {
        @apply cursor-pointer;

        &:nth-of-type(odd) {
          background: $athens_gray_light;
        }

        &:hover {
          background: $athens_gray;
        }

        &.total {
          background: $pattens_blue;

          td {
            font-weight: 600;
          }
        }

        td {
          @apply text-right;
          @apply py-1 pr-2;

          &.profit, &.price {
            padding-left: 2rem;
          }

          &.profitable {
            color: $mountain_meadow;
          }

          &.negative {
            color: $flamingo;
            font-weight: 600;
          }
        }

        &.plan {
          opacity: .5;

          td {
            &.remove-plan {
              @apply cursor-pointer;
            }
          }
        }
      }
    }

    .name-column {
      @apply text-left pl-2;
    }
  }
}

#portfolio-select {
  width: 20rem;
}

.sectors-chart-box {
  @apply flex;

  #sectors-pie-container, #actives-pie-container {
    max-width: 33%;
  }

  #legend, #actives-legend {
    @apply flex items-center;

    flex: 1;
    height: 16rem;
  }
}
