#position-new-container {
  .form-field {
    &.hidden-by-default {
      @apply hidden;

      &.selected {
        @apply block;
      }
    }
  }
}

#positions {
  .positions-table {
    thead {
      tr {
        th {
          @apply text-right pl-10;
        }
      }
    }

    tbody {
      tr {
        td {
          @apply text-right;
        }

        &.plan {
          opacity: .5;
        }
      }
    }

    .name-column {
      @apply text-left pl-0;
    }
  }
}

#portfolio-select {
  width: 20rem;
}

.sectors-chart-box {
  @apply flex;

  #sectors-pie-container {
    max-width: 33%;
  }

  #legend {
    @apply flex items-center;

    flex: 1;
    height: 16rem;
  }
}
