<%= @portfolios.find_each do |portfolio| %>
  <div class='portfolio'>
    <h6 class='portfolio-name'><%= portfolio.name %></h6>
    <p class='portfolio-created'><%= t('accounts.table.created') %> - <%= portfolio.created_at.strftime('%d.%m.%Y') %></p>
  </div>
<% end %>
