<footer>
  <p class='help-text'>
    <%= t('footer.need_help') %> <%= link_to t('footer.telegram'), 'https://t.me/joinchat/UOZWJAim4dzpBeZK', class: 'footer-link', target: '_blank', rel: 'noreferrer' %>
  </p>
  <em>InvestPlan is build by ASAY Technologies. Version 1.0.9</em>
  <% if @change_locale %>
    <div class='select-language'>
      <% I18n.available_locales.each do |locale| %>
        <%= link_to image_tag(asset_pack_path("media/images/icons/#{locale}.png"), alt: 'change locale', width: 25, height: 17), change_locale(locale), class: 'flag' %>
      <% end %>
    </div>
  <% end %>
</footer>
