<footer>
  <p class='help-text'>
    <%= t('footer.need_help') %> <%= link_to t('footer.telegram'), 'https://t.me/joinchat/UOZWJAim4dzpBeZK', class: 'footer-link', target: '_blank' %>
  </p>
  <em>InvestPlan is build by ASAY Technologies. Version 1.0.1</em>
  <% if @change_locale %>
    <div class='select-language'>
      <% I18n.available_locales.each do |locale| %>
        <%= link_to '', change_locale(locale), class: "flag flag_#{locale}" %>
      <% end %>
    </div>
  <% end %>
</footer>
