<header class='header'>
  <div class='header-logo'>
    <%= link_to image_tag(asset_pack_path('media/images/pictures/invest-plan-logo.png'), alt: 'invest plan logo', width: 173, height: 52), root_path %>
  </div>
  <nav class='header-links'>
    <% if @current_user %>
      <%= link_to t('welcome.dashboard'), analytics_path, class: 'button button-lg' %>
    <% else %>
      <%= link_to t('welcome.login'), new_user_session_path, class: 'header-link' %>
      <%= link_to t('welcome.register'), new_user_registration_path, class: 'button button-lg' %>
    <% end %>
  </nav>
</header>
