<div class='sidebar' id='sidebar-window-<%= @window_index %>'>
  <div class='sidebar-header'>
    <h5 class='sidebar-title'><%= @title %></h5>
    <button type='button' class='close' data-action='click->shared--sidebar#close'>
      <span>&times;</span>
    </button>
  </div>
  <div class='sidebar-content'>
    <%= content %>
  </div>
</div>
