// font
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic");

html, body {
  min-height: 100vh;
  height: 100%;
}

html {
  line-height: 1.2;
}

* {
  font-family: "Source Sans Pro", "Helvetica", "Open Sans", sans-serif !important;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}
