h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

h1 {
  margin: 1rem 0;
  font-size: 3.75rem;
}

h2 {
  margin: 1rem 0;
  font-size: 3rem;
}

h3 {
  margin: .75rem 0;
  font-size: 2.25rem;
}

h4 {
  margin: .75rem 0;
  font-size: 1.875rem;
}

h5 {
  margin: .5rem 0;
  font-size: 1.5rem;
}

h6 {
  margin: .5rem 0;
  font-size: 1.25rem;
}
