<div id='welcome-page'>
  <%= render Shared::NavigationComponent.new(current_user: current_user) %>
  <main class='container mx-auto'>
    <div class='welcome-content'>
      <div class='welcome-content-header'>
        <h1><%= @message %></h1>
      </div>
    </div>
  </main>
  <%= render Shared::FooterComponent.new(change_locale: true) %>
</div>
