#welcome-page {
  @apply mx-auto h-full flex flex-col;

  header {
    @apply flex justify-between p-4;

    .header-logo {
      a {
        line-height: 2.5rem;

        img {
          height: 3.25rem;
        }
      }
    }
  }

  main {
    flex: 1;

    .welcome-content {
      @apply flex items-center justify-center pt-20;

      flex: 1;

      .welcome-content-header {
        @apply flex flex-col items-center;

        max-width: 45rem;

        h1, p {
          @apply text-center;
        }

        h1 {
          @apply mb-10;
        }

        p {
          @apply text-xl;
        }
      }
    }
  }
}
