<div id='welcome-page'>
  <%= render Shared::NavigationComponent.new(current_user: current_user) %>
  <main class='container'>
    <div class='welcome-content'>
      <div class='welcome-content-header'>
        <h1><%= t('welcome.title') %></h1>
        <p><%= t('welcome.description') %></p>
      </div>
    </div>
  </main>
  <%= render Shared::FooterComponent.new(change_locale: true) %>
</div>
