.button {
  @apply inline-block px-6 py-3;
  @apply cursor-pointer;
  @apply rounded-3xl;

  background: linear-gradient(to right, $governor_bay, $dodger_blue);
  color: $white;

  &.button-sm {
    @apply text-base font-medium;
    @apply px-4 py-2;
  }

  &.button-lg {
    @apply text-lg font-medium;
  }

  &:hover {
    background: linear-gradient(to right, $persian_blue, $governor_bay);
  }

  &.button-reverse {
    @apply border;

    background: $white;
    color: $governor_bay;
    border-color: $governor_bay;

    &:hover {
      background: linear-gradient(to right, $white 0%, $white 50%, $pattens_blue);
    }
  }
}
