.button {
  display: inline-block;
  padding: .75rem 1.5rem;
  background: $dodger_blue;
  color: $white;
  border-radius: 1.625rem;
  cursor: pointer;

  &.button-sm {
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
  }

  &.button-lg {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &:hover {
    background: $royal_blue;
  }

  &.button-reverse {
    background: $white;
    border: 1px solid $royal_blue;
    color: $royal_blue;

    &:hover {
      background: $athens_gray_light;
    }
  }
}
