.dropdown-box {
  @apply relative mb-4;

  .dropdown-clear {
    @apply absolute text-xl cursor-pointer;

    top: 1.875rem;
    right: .5rem;
    color: $royal_blue;
  }

  .form-label {
    @apply inline-block mb-1;
    @apply leading-5;
  }

  .form-value {
    @apply relative;
    @apply font-light leading-8;
    @apply px-4 py-1 w-full;
    @apply border rounded;

    background: $white;
    border-color: $dodger_blue;
  }

  .dropdown-clear {
    @apply cursor-pointer absolute right-0;
    @apply border-l;

    width: 33px;
    height: 42px;
    z-index: 10;
    top: 26px;
    border-left-color: $dodger_blue;

    &:after {
      @apply absolute;
      @apply border-2 w-3 h-3;

      border-color: $dodger_blue;

      content: '';
      right: 11px;
      top: 22px;
      transform: rotate(135deg);
      border-top: none;
      border-right: none;
    }

    &:before {
      @apply absolute;
      @apply border-2 w-3 h-3;

      border-color: $dodger_blue;

      content: '';
      right: 11px;
      top: 8px;
      transform: rotate(-45deg);
      border-top: none;
      border-right: none;
    }
  }

  .dropdown-list {
    @apply absolute left-0 w-full;
    @apply overflow-y-scroll z-10;

    max-height: 25rem;

    .dropdown-list-header, .dropdown-list-element {
      @apply w-full;

      border-width: 1px;
      border-top: none;
      border-bottom-color: $athens_gray;
      border-right-color: $dodger_blue;
      border-left-color: $dodger_blue;

      &:nth-of-type(1) {
        border-radius: .25rem .25rem 0 0;
      }

      &:nth-last-of-type(1) {
        border-radius: 0 0 .25rem .25rem;
      }
    }

    .dropdown-list-header {
      @apply px-4 py-1;

      background: $athens_gray;
      font-weight: 600;
    }

    .dropdown-list-element {
      @apply px-4 py-2;

      background: $white;

      &:hover {
        @apply cursor-pointer;

        background: $french_pass;
      }
    }
  }
}
