footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .help-text {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;

    .footer-link {
      text-decoration: underline;
      text-decoration-thickness: 2px;

      &:hover {
        color: $royal_blue;
      }
    }
  }

  em {
    margin-bottom: 1rem;
  }
}
