.form-field {
  position: relative;
  margin-bottom: 1rem;

  .form-label {
    display: inline-block;
    margin-bottom: .25rem;
    line-height: 1.25rem;
  }

  .form-value {
    background: $white;
    border: 1px solid $dodger_blue;
    border-radius: .25rem;
    padding: .25rem 1rem;
    width: 100%;
    min-height: 2.625rem;
    font-weight: 300;
    line-height: 2rem;

    &.error {
      border-color: $flamingo;
    }

    &.with-form-value-clear {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 100%;
        border-left: 1px solid $dodger_blue;
      }

      .form-value-clear {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 100%;
        cursor: pointer;
        z-index: 10;

        &:after {
          content: '';
          position: absolute;
          right: .625rem;
          top: 21px;
          transform: rotate(135deg);
          border: 2px solid $dodger_blue;
          width: .75rem;
          height: .75rem;
          border-top: none;
          border-right: none;
        }

        &:before {
          content: '';
          position: absolute;
          right: .625rem;
          top: 7px;
          transform: rotate(-45deg);
          border: 2px solid $dodger_blue;
          width: .75rem;
          height: .75rem;
          border-top: none;
          border-right: none;
        }
      }
    }

    &.select-value {
      position: relative;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 100%;
        border-left: 1px solid $dodger_blue;
      }

      &:before {
        content: '';
        position: absolute;
        right: .625rem;
        top: .625rem;
        transform: rotate(-45deg);
        border: 2px solid $dodger_blue;
        width: .75rem;
        height: .75rem;
        border-top: none;
        border-right: none;
      }

      &.open {
        &:before {
          transform: rotate(135deg);
          top: 1rem;
        }
      }
    }
  }

  .select-list {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background: $white;
    border: 1px solid $dodger_blue;
    border-top: none;
    border-radius: .25rem;
    overflow: hidden;
    z-index: 20;

    .select-list-item {
      background: $white;
      padding: .5rem 1rem;
      border-bottom: 1px solid $athens_gray;
      width: 100%;
      min-height: 41px;

      &:nth-last-of-type(1) {
        border: none;
      }

      &:hover {
        background: $pattens_blue;
        cursor: pointer;
      }
    }
  }
}
