.form-field {
  @apply relative mb-4;

  .form-label {
    @apply inline-block mb-1;
    @apply leading-5;
  }

  .form-value {
    @apply font-light leading-8;
    @apply px-4 py-1 w-full;
    @apply border rounded;

    background: $white;
    border-color: $dodger_blue;

    &.error {
      border-color: $flamingo;
    }

    &.with-form-value-clear {
      @apply relative;

      &:after {
        @apply absolute right-0 top-0;
        @apply w-8 h-full;
        @apply border-l;

        content: '';
        border-left-color: $dodger_blue;
      }

      .form-value-clear {
        @apply cursor-pointer absolute right-0 top-0;
        @apply w-8 h-full;

        z-index: 10;

        &:after {
          @apply absolute;
          @apply border-2 w-3 h-3;

          border-color: $dodger_blue;

          content: '';
          right: .625rem;
          top: 21px;
          transform: rotate(135deg);
          border-top: none;
          border-right: none;
        }

        &:before {
          @apply absolute;
          @apply border-2 w-3 h-3;

          border-color: $dodger_blue;

          content: '';
          right: .625rem;
          top: 7px;
          transform: rotate(-45deg);
          border-top: none;
          border-right: none;
        }
      }
    }

    &.select-value {
      @apply cursor-pointer relative;

      &:after {
        @apply absolute right-0 top-0;
        @apply w-8 h-full;
        @apply border-l;

        content: '';
        border-left-color: $dodger_blue;
      }

      &:before {
        @apply absolute;
        @apply border-2 w-3 h-3;

        border-color: $dodger_blue;

        content: '';
        right: .625rem;
        top: .625rem;
        transform: rotate(-45deg);
        border-top: none;
        border-right: none;
      }

      &.open {
        &:before {
          transform: rotate(135deg);
          top: 1rem;
        }
      }
    }
  }

  .select-list {
    @apply hidden;

    .select-list-item {
      @apply px-4 py-2 w-full;
      @apply border-b;

      background: $white;
      border-bottom-color: $athens_gray;

      &:nth-last-of-type(1) {
        @apply border-none;
      }

      &:hover {
        @apply cursor-pointer;

        background: $pattens_blue;
      }
    }

    &.open {
      @apply block absolute left-0 w-full;
      @apply overflow-hidden z-20;
      @apply border rounded;

      background: $white;
      border-top: none;
      border-color: $dodger_blue;
    }
  }
}
