.table {
  width: 100%;
  border-radius: .25rem;
  overflow: hidden;
  margin-bottom: 1rem;
  border-collapse: collapse;

  thead {
    tr {
      background: $persian_blue;
      color: $white;

      th {
        text-align: right;
        padding: .5rem;
        padding-left: 2.5rem;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:nth-of-type(odd) {
        background: $athens_gray_light;
      }

      &:hover {
        background: $athens_gray;
      }

      td {
        text-align: right;
        padding: .4rem .5rem;
      }
    }
  }

  .name-column {
    text-align: left;
    padding-left: .5rem;
  }
}
