.toggle-box {
  @apply inline-block;
  @apply cursor-pointer;

  .toggle-box-content {
    @apply flex items-center;

    .toggle-value {
      @apply inline-block relative mr-2;
      @apply w-10 h-6;
      @apply border-2 rounded-xl;

      border-color: $mischka;

      &:before {
        @apply absolute;
        @apply w-4 h-4;

        content: '';
        top: .125rem;
        left: .125rem;
        border-radius: 50%;
        transition-property: left, background;
        transition-duration: 0.25s;
        transition-timing-function: linear;
        background: $mischka;
      }

      &.selected {
        @apply border-2 rounded-xl;

        border-color: $dodger_blue;

        &:before {
          background: $dodger_blue;
          left: 1.125rem;
        }
      }
    }

    .toggle-text {
      @apply inline-block;
    }
  }
}
