<%= render PageWrappers::PageComponent.new do %>
  <div class='sidebar-container' data-controller='shared--sidebar' data-reflex-root='#positions'>
    <div class='button' data-action='click->shared--sidebar#open'>
      Add position
    </div>

    <div id='positions'>
      <%= render Portfolios::PositionsComponent.new(positions: @positions) %>
    </div>

    <%= render Shared::SidebarComponent.new(title: 'New Position') do %>
      <div id='position-new-container' class='sidebar-content'>
        <form data-controller='portfolios--position-new' data-action='submit->portfolios--position-new#submitForm'>
          <input type='hidden' name='position[quote_id]' data-target='portfolios--position-new.quoteId' />
          <div class='form-field hidden-by-default' data-target='portfolios--position-new.security'></div>

          <div class='dropdown-box' data-reflex-root='#quotes' data-target='portfolios--position-new.dropdown'>
            <label class='dropdown-label'>Select security</label>
            <input type='text' class='dropdown-input' placeholder='Search for a quote...' data-action='debounced:input->portfolios--position-new#searchQuotes' data-target='portfolios--position-new.selectInput' />
            <div id='quotes' class='dropdown-list'>
              <%= render Portfolios::QuotesComponent.new(quotes: @quotes) %>
            </div>
          </div>

          <div class='form-field'>
            <span class='form-label'>Price</span>
            <input name='position[price]' class='form-value' data-target='portfolios--position-new.price' data-action='keyup->portfolios--position-new#refreshTotalPrice' />
          </div>

          <div class='form-field'>
            <span class='form-label'>Amount</span>
            <input name='position[amount]' class='form-value' data-target='portfolios--position-new.amount' data-action='keyup->portfolios--position-new#refreshTotalPrice' />
          </div>

          <div class='form-field'>
            <span class='form-label'>Total price</span>
            <input disabled class='form-value' data-target='portfolios--position-new.totalPrice' />
          </div>

          <button class='button' type='submit'>
            Add position
          </button>
        </form>
      </div>
    <% end %>
  </div>
<% end %>
