.devise-page {
  @apply h-full;
  @apply flex items-center justify-center;

  .devise-content {
    width: 30rem;

    .confirmation-page {
      @apply flex flex-col items-center;

      p {
        @apply mb-4 text-center;
      }
    }

    h2 {
      @apply mt-0;
      @apply text-center;
    }

    .account_existing {
      @apply mb-4 text-center text-xl;

      a {
        @apply underline font-semibold;

        color: $dodger_blue;
        text-decoration-thickness: 2px;
      }
    }

    .actions {
      @apply flex justify-center;
    }
  }
}
