.header-link {
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;

  &:hover {
    color: $royal_blue;
  }
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #notifications {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 20;

    .notification {
      padding: .75rem 1rem;
      margin-bottom: .5rem;
      border-radius: .5rem;

      &.success {
        background: $mountain_meadow;
        color: $white;
      }

      &.error {
        background: $flamingo;
        color: $white;
      }
    }
  }

  main.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .page-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      header.content-navigation {
        display: flex;
        justify-content: flex-end;
        position: relative;

        .header-links {
          display: flex;
          align-items: center;
        }

        .profile-block {
          .navigation-link {
            img {
              width: 3rem;
              height: 3rem;
              border-radius: .5rem;
              cursor: pointer;
            }
          }

          .navigation-dropdown {
            position: absolute;
            top: 4rem;
            right: 0;
            width: 12rem;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background: $dodger_blue;
            border-radius: .5rem;
            z-index: 10;

            .select-language {
              display: flex;
              padding-left: 1rem;
            }

            .settings-links {
              margin: 1.5rem 0 .5rem;

              a {
                display: inline-block;
                width: 100%;
              }
            }

            .settings-link {
              padding: .5rem 1rem;
              border-radius: .5rem;
              color: $white;
              font-weight: 600;

              &:hover {
                background: $royal_blue;
              }
            }
          }
        }
      }

      section.content-header {
        background: $pattens_blue;

        .content-header-body {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .content-buttons {
          display: flex;
          flex-direction: row-reverse;
          padding: .5rem 0;

          .button {
            margin-left: 1rem;
          }
        }
      }

      .page-content {
        flex: 1;
        padding: 0 2.5rem 2.5rem;
      }
    }
  }
}

.flag {
  display: inline-block;
  margin-right: .25rem;
  width: 1.5625rem;
  height: 1rem;
}
