.header-link {
  @apply mr-4;
  @apply text-xl font-semibold underline;

  text-decoration-thickness: 2px;

  &:hover {
    @apply text-blue-800;
  }
}

.page {
  @apply relative flex flex-col h-screen;

  #notifications {
    @apply absolute z-10;

    top: 1rem;
    right: 1rem;

    .notification {
      @apply px-4 py-3 mb-2 rounded-lg;

      &.success {
        @apply bg-green-400 text-white;
      }
    }
  }

  main.content {
    @apply relative;

    flex: 1;

    .page-container {
      @apply flex flex-col;

      flex: 1;

      header.content-navigation {
        @apply flex justify-end relative;

        .header-links {
          @apply flex items-center;
        }

        .profile-block {
          .navigation-link {
            img {
              @apply w-12 h-12 rounded-lg cursor-pointer;
            }
          }

          .navigation-dropdown {
            @apply hidden;

            &.open {
              @apply absolute right-0 flex flex-col;
              @apply bg-blue-500 rounded-lg;
              @apply p-4;

              top: 4rem;
              width: 12rem;

              .select-language {
                @apply flex pl-4;
              }

              .logout-link {
                @apply px-4 py-2 mt-4;
                @apply text-white font-semibold rounded-lg;

                &:hover {
                  @apply bg-blue-600;
                }
              }
            }
          }
        }
      }

      section.content-header {
        @apply bg-blue-100;

        .content-header-body {
          @apply flex justify-between items-center;
        }

        .content-buttons {
          @apply py-2;
          @apply flex flex-row-reverse;

          .button {
            @apply ml-4;
          }
        }
      }

      .page-content {
        @apply p-10 pt-0;

        flex: 1;
      }
    }
  }
}

.flag {
  @apply inline-block mr-1 h-4;

  width: 1.5625rem;
  background: url("../images/flags.png");

  &.flag_ru {
    background-size: 100%;
    background-position: 0 0;
  }

  &.flag_en {
    background-size: 100%;
    background-position: 0 -1rem;
  }
}
